In [21]:
# area of square in new way
def side(n1):
    res=n1**2
    return res

i=float(input("enter side:"))
a=side(i)
print("the area of given square:",a)

enter side: 2

the area of given square: 4.0

In [20]:
 # area of ractangle in new way
def side(n1,n2):
    res=n1*n2
    return res

l=float(input("enter the lenght:"))
h=float(input("enter the height:"))
a=side(l,h)
print("the area of given ractangle:",a)

enter the lenght: 3
enter the height: 3

the area of given ractangle: 9.0

In [23]:
# area of triangle in new way
def side(n1,n2):
    res=n1*n2/2
    return res

l=float(input())
h=float(input())
a=side(l,h)
print(a)

 3
 5

7.5

In [28]:
# area of circle in new way
def radius(n1):
    res=3.14159*n1**2
    return res

r=float(input())
a=radius(r)
print(a)

 3

28.27431

In [31]:
# even or odd in diffrent way
def even_odd(num):
    if num%2 == 0:
        return "even"
    else:
        return "odd"

i=int(input())
a=even_odd(i)
print(a)

 2

even

In [65]:
## prime number or not in diffrent way
def prime(num):
    for i in (2,7):
        if num%i == 0:
            return "not prime"
        else:
            return "prime"

n=int(input())
a=prime(n)
print(a)

 13

prime

In [13]:
## addition and substraction calculator
def num(n1,n2,n3):
    if n2=="+":
        return(n1+n3)
    elif n2=="-":
        return(n1-n3)
    else:
       return("invalid sign")


i=int(input("first number:"))
j=str(input("what you want to do:"))
k=int(input("second number:"))
a=num(i,j,k)
print(a)

first number: 2
what you want to do: 3
second number: 3

invalid sign

In [1]:
# the upgrated version of password
def pas():
    while True:
        n1=input("---please enter your password---")
        if n1==("sahil@123"):
            return "correct password"
        else:
            print("incorrect password , please try again")
       
a=pas()
print(a)

---please enter your password--- wq

incorrect password , please try again

---please enter your password--- sa

incorrect password , please try again

---please enter your password--- sahil@123

correct password

In [11]:
# the multiply table with diffrent code
def num(n):
    for i in range(1,11):
       print(f"{n} x {i} = {n*i}")
num(int(input("table of:")))

table of: 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [15]:
# simple function of for loop
i+=1
for a in (1,5):
    print(list(range(i,a*i)))
    a+=i

[]
[2, 3, 4, 5, 6, 7, 8, 9]